<a href="https://colab.research.google.com/github/ekacs/scrap-inaportnet-22/blob/main2/SPB_webscrap_INAPORTNET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import os
import re
from six.moves import urllib
from unicodedata import normalize
import numpy as np
import io
import datetime
from datetime import datetime, timedelta
from dateutil.tz import tzutc, tzlocal
from google.colab import files

In [2]:
kode_lokasi='IDSUB'     #diisi kode lokasi pelabuhan, cari tahu di https://bit.ly/KODE_PELABUHAN 
tahun=2022              #diisi tahun
jenis_layanan='SPB'    #diisi kode layanan inaportnet yg mau discrape, SPB
berapa_bulan=12       #diisi berapa bulan
selisih_waktu_UTC=+7     # diisi waktu selisih perbedaan dg waktu UTC, WIB=+7, WITA=+8, WITT=+9

#all code in here

In [3]:

daftarbulan=['00','01','02','03','04','05','06','07','08','09','10','11','12']
urls=[]
daftarlink=[]   


for i in range(1,berapa_bulan+1):
  
  #FYI gaes syntax format URL = https://monitoring-inaportnet.dephub.go.id/site/port_detail_service?unlocode=<kode_lokasi>&bulan=<angka_bulan_2digit>&tahun=<angka_tahun_4digit>&service_code=<kode_layanan>
  urlpage = ('https://monitoring-inaportnet.dephub.go.id/site/port_detail_service?unlocode={kd_lokasi}&bulan={n}&tahun=2022&service_code={jns_produk}').format(kd_lokasi=kode_lokasi, n=(daftarbulan[i]), jns_produk=jenis_layanan)
  urls.append(urlpage)


for url in urls:
    my_url = requests.get(url) 
  
    soup = bs(my_url.content, 'html.parser')
    #print(soup)
    s = soup('a', class_='btn btn-primary ls-modal')
    #print(s)
    for link in soup.find_all('a', attrs={'href': re.compile("kode_perusahaan=")}):
      daftarlink.append('https://monitoring-inaportnet.dephub.go.id'+link.get('href')+'&download=1')
      #daftarlink.append(link.get('href'))
      #print(daftarlink)

#len(daftarlink)
#print(urls)
#print(urlpage)


hasil_scrape = pd.DataFrame(pd.read_csv(daftarlink[0]))

for i in range(0,len(daftarlink)):
  data = pd.read_html(daftarlink[i])
  df = pd.DataFrame(data[0])

  hasil_scrape = pd.concat([hasil_scrape,df],axis=0)

#hasil_scrape
#hasil_scrape.dropna(subset=["No"])

#PERHITUNGAN SELISIH WAKTU

df=hasil_scrape

df['Waktu Permohonan'] = pd.to_datetime(
    df['Waktu Permohonan'],
    format='%d-%m-%Y %H:%M:%S'
)
df['Waktu Respon'] = pd.to_datetime(
    df['Waktu Respon'],
    format='%d-%m-%Y %H:%M:%S'
)

print(df.dtypes)


df['waktu_permohonan_real'] = df['Waktu Permohonan']+pd.DateOffset(hours=selisih_waktu_UTC) 
df['selisih_waktu'] = df['Waktu Respon']-df['waktu_permohonan_real']
#hasil_scrape.info()



#cari data anomali Waktu Respon lebih dulu ketimbang Waktu Permohonan (asumsi ada bug di database inaportnet)

hasil_scrape_bug=hasil_scrape[hasil_scrape['selisih_waktu']<timedelta(seconds=0)]
hasil_scrape_ok=hasil_scrape[hasil_scrape['selisih_waktu']>timedelta(seconds=0)]



#make criteria in time difference
def sel(hasil_scrape):
    if hasil_scrape['selisih_waktu'] <= timedelta(seconds=30):
        return "Antara 0 detik - 30 detik"
    elif hasil_scrape['selisih_waktu'] <= timedelta(minutes=30):
        return "Antara 31 detik - 30 menit"
    elif hasil_scrape['selisih_waktu'] <= timedelta(hours=4):
        return "Antara 31 menit - 4 jam"
#    elif hasil_scrape['selisih_waktu'] < timedelta(hours=1):
#        return "Antara 30 - 60 menit"
#    elif hasil_scrape['selisih_waktu'] <= timedelta(hours=6):
#        return "Antara 1 - 6 jam"
#    elif hasil_scrape['selisih_waktu'] < timedelta(hours=12):
#        return "Antara 6 - 12 jam"
#    elif hasil_scrape['selisih_waktu'] < timedelta(days=1):
#        return "Antara 12 - 24 jam"
    else:
        return "Lebih dari 4 jam"
#        return "Lebih dari 24 jam"


hasil_scrape_ok['lama_pelayanan'] = hasil_scrape_ok.apply(sel, axis=1)
sort_data = hasil_scrape_ok.sort_values("selisih_waktu", axis = 0, ascending = True)



lama_pelayanan = hasil_scrape_ok.groupby('lama_pelayanan')['lama_pelayanan'].count().reset_index(name='jumlah')
lama_pelayanan['persentase'] = lama_pelayanan['jumlah']/len(hasil_scrape_ok)*100
#lama_pelayanan


#gruoping month-day pelayanan

month_mapping={
    1: 'January', 
    2: 'February', 
    3: 'March', 
    4: 'April', 
    5: 'May',
    6: 'June', 
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
} 
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 


hasil_scrape_ok['bulan permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.month.map(month_mapping)
hasil_scrape_ok['hari permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.dayofweek.map(dw_mapping)

bulan_permohonan = hasil_scrape_ok.groupby('bulan permohonan')['bulan permohonan'].count().reset_index(name='jumlah')
bulan_permohonan['persentase'] = bulan_permohonan['jumlah']/len(hasil_scrape_ok)*100

def nomor(bulan_permohonan):
    if bulan_permohonan['bulan permohonan'] == 'January':
        return 1
    elif bulan_permohonan['bulan permohonan'] == 'February':
        return 2
    elif bulan_permohonan['bulan permohonan'] == 'March':
        return 3
    elif bulan_permohonan['bulan permohonan'] == 'April':
        return 4
    elif bulan_permohonan['bulan permohonan'] == 'May':
        return 5
    elif bulan_permohonan['bulan permohonan'] == 'June':
        return 6
    elif bulan_permohonan['bulan permohonan'] == 'July':
        return 7
    elif bulan_permohonan['bulan permohonan'] == 'August':
        return 8
    elif bulan_permohonan['bulan permohonan'] == 'September':
        return 9
    elif bulan_permohonan['bulan permohonan'] == 'October':
        return 10
    elif bulan_permohonan['bulan permohonan'] == 'November':
        return 11
    else:
        return 12

bulan_permohonan['nomor'] = bulan_permohonan.apply(nomor, axis=1)
bulan_permohonan = bulan_permohonan.sort_values("nomor", axis = 0, ascending = True)
#bulan_permohonan

#stat hari permohnonan

def nomor_hari(hari_permohonan):
    if hari_permohonan['hari permohonan'] == 'Monday':
        return 1
    elif hari_permohonan['hari permohonan'] == 'Tuesday':
        return 2
    elif hari_permohonan['hari permohonan'] == 'Wednesday':
        return 3
    elif hari_permohonan['hari permohonan'] == 'Thursday':
        return 4
    elif hari_permohonan['hari permohonan'] == 'Saturday':
        return 5
    elif hari_permohonan['hari permohonan'] == 'Sunday':
        return 6
    else:
        return 7
    
hari_permohonan = hasil_scrape_ok.groupby('hari permohonan')['hari permohonan'].count().reset_index(name='jumlah')
hari_permohonan['Nomor'] = hari_permohonan.apply(nomor_hari, axis=1)
hari_permohonan = hari_permohonan.sort_values("Nomor", axis = 0, ascending = True)
#hari_permohonan


#pemabgian rentang waktu permohonan
batas_waktu1 = pd.to_datetime('06:00:00', format='%H:%M:%S')
batas_waktu2 = pd.to_datetime('12:00:00', format='%H:%M:%S')
batas_waktu3 = pd.to_datetime('18:00:00', format='%H:%M:%S')

def jam(hasil_scrape_ok):
    if hasil_scrape_ok['jam permohonan'] < batas_waktu1:
        return "Jam 00.00 s.d. 06.00"
    elif hasil_scrape_ok['jam permohonan'] < batas_waktu2:
        return "Jam 06.00 s.d. 12.00"
    elif hasil_scrape_ok['jam permohonan'] < batas_waktu3:
        return "Jam 12.00 s.d. 18.00"
    else:
        return "Jam 18.00 s.d. 24.00"

hasil_scrape_ok['jam permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.time

hasil_scrape_ok['jam permohonan'] = pd.to_datetime(hasil_scrape_ok['jam permohonan'], format='%H:%M:%S')
hasil_scrape_ok['pembagian jam permohonan'] = hasil_scrape_ok.apply(jam, axis=1)

waktu_permohonan = hasil_scrape_ok.groupby('pembagian jam permohonan')['pembagian jam permohonan'].count().reset_index(name='jumlah')
waktu_permohonan['persentase'] = waktu_permohonan['jumlah']/len(hasil_scrape_ok)*100
#waktu_permohonan

<table class="table table-bordered">            object
No                                             float64
Nama Kapal                                      object
Waktu Permohonan                        datetime64[ns]
Waktu Respon                            datetime64[ns]
Nomor Produk                                    object
dtype: object

<ipython-input-3-52ef61fbd650>:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['lama_pelayanan'] = hasil_scrape_ok.apply(sel, axis=1)
<ipython-input-3-52ef61fbd650>:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['bulan permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.month.map(month_mapping)
<ipython-input-3-52ef61fbd650>:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['hari permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.dayofweek.map(dw_mapping)
<ipython-input-3-52ef61fbd650>:203: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['jam permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.time
<ipython-input-3-52ef61fbd650>:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['jam permohonan'] = pd.to_datetime(hasil_scrape_ok['jam permohonan'], format='%H:%M:%S')
<ipython-input-3-52ef61fbd650>:206: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hasil_scrape_ok['pembagian jam permohonan'] = hasil_scrape_ok.apply(jam, axis=1)

#data yg anomali (asumsi ada bug di dBasenya, karena Waktu Respon mendahului Waktu Permohonan)

In [4]:
'''
hasil_scrape_bug.dropna(subset=['No']).to_csv('hasil_scrape_bug.csv')
files.download('hasil_scrape_bug.csv')
'''
hasil_scrape_bug.dropna(subset=['No'])

,"<table class=""table table-bordered"">",No,Nama Kapal,Waktu Permohonan,Waktu Respon,Nomor Produk,waktu_permohonan_real,selisih_waktu
6,NaN,7.0,KENDHAGA NUSANTARA 12,2022-01-21 09:07:46,2022-01-21 05:37:00,SPB.IDSUB.0122.0000675,2022-01-21 16:07:46,-1 days +13:29:14
0,NaN,1.0,SUKSES GLOBAL,2022-01-02 03:46:15,2021-12-30 21:18:17,SPB.IDSUB.1221.0001048,2022-01-02 10:46:15,-3 days +10:32:02
0,NaN,1.0,ANNA JAYA,2022-01-10 07:01:49,2021-12-30 17:23:53,SPB.IDSUB.1221.0001035,2022-01-10 14:01:49,-11 days +03:22:04
2,NaN,3.0,MERANTI 705,2022-01-31 14:14:29,2022-01-31 19:32:50,SPB.IDSUB.0122.0001061,2022-01-31 21:14:29,-1 days +22:18:21
37,NaN,38.0,MERATUS GORONTALO,2022-02-12 03:02:28,2022-02-12 09:44:38,SPB.IDSUB.0222.0000396,2022-02-12 10:02:28,-1 days +23:42:10
5,NaN,6.0,MARITIM TRANS,2022-02-17 10:06:42,2022-02-17 16:19:29,SPB.IDSUB.0222.0000591,2022-02-17 17:06:42,-1 days +23:12:47
7,NaN,8.0,PETRO OCEAN XXVII,2022-02-25 09:01:34,2022-01-26 19:44:01,SPB.IDSUB.0122.0000872,2022-02-25 16:01:34,-30 days +03:42:27
3,NaN,4.0,SAPPORO,2022-02-05 04:27:51,2022-02-03 14:37:45,SPB.IDSUB.0222.0000077,2022-02-05 11:27:51,-2 days +03:09:54
2,NaN,3.0,ICON FILIPI IV 89,2022-02-17 08:19:04,2022-02-17 06:22:26,SPB.IDSUB.0222.0000569,2022-02-17 15:19:04,-1 days +15:03:22
0,NaN,1.0,KENDHAGA NUSANTARA 5,2022-02-07 13:05:13,2022-01-30 00:21:04,SPB.IDSUB.0122.0000995,2022-02-07 20:05:13,-9 days +04:15:51
11,NaN,12.0,HOSANNA,2022-03-31 00:36:20,2022-03-25 18:43:07,SPB.IDSUB.0322.0000883,2022-03-31 07:36:20,-6 days +11:06:47
1,NaN,2.0,MULTI MANDIRI,2022-03-25 14:01:19,2022-03-24 18:40:37,SPB.IDSUB.0322.0000851,2022-03-25 21:01:19,-2 days +21:39:18
0,NaN,1.0,KINTA PERJAYA,2022-03-02 12:30:31,2022-03-02 18:59:38,SPB.IDSUB.0322.0000047,2022-03-02 19:30:31,-1 days +23:29:07
3,NaN,4.0,MITRA KITA,2022-03-03 04:08:19,2022-03-01 18:13:14,SPB.IDSUB.0322.0000016,2022-03-03 11:08:19,-2 days +07:04:55
0,NaN,1.0,SAMUDRA AGUNG 189,2022-03-22 10:10:53,2022-03-16 21:17:17,SPB.IDSUB.0322.0000548,2022-03-22 17:10:53,-6 days +04:06:24
5,NaN,6.0,SELVI PRATIWI,2022-04-21 06:53:01,2022-04-20 04:46:53,SPB.IDSUB.0422.0000693,2022-04-21 13:53:01,-2 days +14:53:52
20,NaN,21.0,BALONGAN,2022-04-12 01:43:47,2022-04-10 09:45:52,SPB.IDSUB.0422.0000345,2022-04-12 08:43:47,-2 days +01:02:05
70,NaN,71.0,BALI KUTA,2022-04-07 01:59:11,2022-04-04 22:16:30,SPB.IDSUB.0422.0000132,2022-04-07 08:59:11,-3 days +13:17:19
1,NaN,2.0,BAKTI 1,2022-04-09 07:57:32,2022-04-09 14:29:11,SPB.IDSUB.0422.0000305,2022-04-09 14:57:32,-1 days +23:31:39
2,NaN,3.0,LINTAS ARMADA NUSANTARA,2022-04-08 01:05:20,2022-04-06 11:09:27,SPB.IDSUB.0422.0000186,2022-04-08 08:05:20,-2 days +03:04:07
0,NaN,1.0,INTI,2022-04-16 08:38:52,2022-03-29 15:35:12,SPB.IDSUB.0322.0001005,2022-04-16 15:38:52,-19 days +23:56:20
1,NaN,2.0,SAM I,2022-05-25 10:17:51,2022-05-24 19:27:51,SPB.IDSUB.0522.0000659,2022-05-25 17:17:51,-1 days +02:10:00
2,NaN,3.0,HARRY-02,2022-05-31 05:22:58,2022-05-21 20:45:42,SPB.IDSUB.0522.0000554,2022-05-31 12:22:58,-10 days +08:22:44
3,NaN,4.0,HUBMAR 03,2022-05-31 05:23:17,2022-05-21 20:45:57,SPB.IDSUB.0522.0000555,2022-05-31 12:23:17,-10 days +08:22:40
0,NaN,1.0,SEIKO MARU,2022-05-07 06:14:48,2022-04-28 06:01:26,SPB.IDSUB.0422.0001002,2022-05-07 13:14:48,-10 days +16:46:38
1,NaN,2.0,LINTAS PAPUA,2022-05-22 09:58:44,2022-05-22 16:42:37,SPB.IDSUB.0522.0000597,2022-05-22 16:58:44,-1 days +23:43:53
85,NaN,86.0,MERATUS KENDARI 1,2022-06-15 01:44:35,2022-06-14 13:56:15,SPB.IDSUB.0622.0000486,2022-06-15 08:44:35,-1 days +05:11:40
2,NaN,3.0,SALIM MUJUR 1,2022-06-29 13:52:19,2022-06-28 18:05:12,SPB.IDSUB.0622.0001009,2022-06-29 20:52:19,-2 days +21:12:53
14,NaN,15.0,BLUE PETROL,2022-06-25 10:45:12,2022-06-23 09:49:01,SPB.IDSUB.0622.0000816,2022-06-25 17:45:12,-3 days +16:03:49
1,NaN,2.0,TAL STAR,2022-06-11 07:10:03,2022-06-11 05:34:01,SPB.IDSUB.0622.0000370,2022-06-11 14:10:03,-1 days +15:23:58
0,NaN,1.0,RAAFIAH,2022-06-02 09:07:30,2022-06-02 14:36:20,SPB.IDSUB.0622.0000041,2022-06-02 16:07:30,-1 days +22:28:50
1,NaN,2.0,BAHARI - I,2022-06-13 09:54:31,2022-06-11 20:37:58,SPB.IDSUB.0622.0000394,2022-06-13 16:54:31,-2 days +03:43:27
23,NaN,24.0,LUMOSO SELAMAT,2022-07-02 13:01:21,2022-07-01 06:09:35,SPB.IDSUB.0622.0001111,2022-07-02 20:01:21,-2 days +10:08:14
1,NaN,2.0,SEBUDI,2022-07-14 14:49:19,2022-07-14 17:32:57,SPB.IDSUB.0722.0000459,2022-07-14 21:49:19,-1 days +19:43:38
0,NaN,1.0,SJW GOLD LINE,2022-07-14 13:02:34,2022-07-14 18:21:45,SPB.IDSUB.0722.0000463,2022-07-14 20:02:34,-1 days +22:19:11
28,NaN,29.0,DHARMA KENCANA III,2022-08-25 11:08:53,2022-08-25 12:18:06,SPB.IDSUB.0822.0000901,2022-08-25 18:08:53,-1 days +18:09:13
44,NaN,45.0,DHARMA KENCANA III,2022-08-05 18:14:41,2022-08-06 00:41:15,SPB.IDSUB.0822.0000176,2022-08-06 01:14:41,-1 days +23:26:34
58,NaN,59.0,DHARMA KARTIKA IX,2022-08-31 15:11:48,2022-08-31 21:21:33,SPB.IDSUB.0822.0001147,2022-08-31 22:11:48,-1 days +23:09:45
5,NaN,6.0,ADHI 2,2022-08-10 10:01:06,2022-08-07 18:42:40,SPB.IDSUB.0822.0000239,2022-08-10 17:01:06,-3 days +01:41:34
6,NaN,7.0,INTERNUSA 2,2022-08-10 10:01:15,2022-08-07 18:42:55,SPB.IDSUB.0822.0000240,2022-08-10 17:01:15,-3 days +01:41:40
1,NaN,2.0,KARUNIA SEJAHTERA,2022-09-02 06:56:48,2022-09-01 02:04:14,SPB.IDSUB.0822.0001158,2022-09-02 13:56:48,-2 days +12:07:26
0,NaN,1.0,TRANSINDO 8,2022-09-08 09:19:20,2022-09-08 14:55:00,SPB.IDSUB.0922.0000262,2022-09-08 16:19:20,-1 days +22:35:40
9,NaN,10.0,DAMAI SEJAHTERA 88,2022-10-01 12:50:11,2022-10-01 16:31:16,SPB.IDSUB.1022.0000014,2022-10-01 19:50:11,-1 days +20:41:05
6,NaN,7.0,DHARMA KARTIKA IX,2022-10-08 17:07:41,2022-10-08 22:31:14,SPB.IDSUB.1022.0000307,2022-10-09 00:07:41,-1 days +22:23:33
71,NaN,72.0,MERATUS PEKANBARU,2022-12-07 07:19:59,2022-12-07 13:35:32,SPB.IDSUB.1222.0000234,2022-12-07 14:19:59,-1 days +23:15:33
14,NaN,15.0,EVER OPTIMA,2022-12-21 02:29:28,2022-12-21 09:29:24,SPB.IDSUB.1222.0000801,2022-12-21 09:29:28,-1 days +23:59:56
1,NaN,2.0,ICON BRAVO,2022-12-28 17:52:05,2022-12-28 23:10:25,SPB.IDSUB.1222.0001008,2022-12-29 00:52:05,-1 days +22:18:20
39,NaN,40.0,LAGOA MAS,2022-12-27 03:19:32,2022-12-27 09:53:48,SPB.IDSUB.1222.0000969,2022-12-27 10:19:32,-1 days +23:34:16

#statistik durasi lama pelayanan

In [6]:
lama_pelayanan

               lama_pelayanan  jumlah  persentase
0   Antara 0 detik - 30 detik       3    0.023036
1  Antara 31 detik - 30 menit    1031    7.916763
2     Antara 31 menit - 4 jam    8069   61.959610
3            Lebih dari 4 jam    3920   30.100591

#statistik waktu pelayanan

In [8]:
waktu_permohonan

  pembagian jam permohonan  jumlah  persentase
0     Jam 00.00 s.d. 06.00     909    6.979959
1     Jam 06.00 s.d. 12.00    2786   21.392920
2     Jam 12.00 s.d. 18.00    4762   36.566075
3     Jam 18.00 s.d. 24.00    4566   35.061046

#statistik hari pelayanan

In [9]:
hari_permohonan

  hari permohonan  jumlah  Nomor
1          Monday    1814      1
5         Tuesday    1786      2
6       Wednesday    1864      3
4        Thursday    1967      4
2        Saturday    2099      5
3          Sunday    1621      6
0          Friday    1872      7

#statistik bulan pelayanan

In [10]:
bulan_permohonan

   bulan permohonan  jumlah  persentase  nomor
4           January    1070    8.216233      1
3          February     970    7.448361      2
7             March    1074    8.246948      3
0             April    1107    8.500346      4
8               May     927    7.118176      5
6              June    1109    8.515703      6
5              July    1065    8.177839      7
1            August    1156    8.876603      8
11        September    1123    8.623205      9
10          October    1219    9.360362     10
9          November    1131    8.684635     11
2          December    1072    8.231590     12

#unduh hasil scrape (aslinya)

In [11]:
#hasil scrape asli blm ada pengolahan data (termasuk didalamnya ada bug)
hasil_scrape.dropna(subset=['No']).to_csv('hasil_scrape_asli.csv')
files.download('hasil_scrape_asli.csv')

#unduh hasil scrape (+ kolom tambahan)

In [12]:
#hasil scrape asli sudah ada kolom tambahannya dan TIDAK termasuk didalamnya ada asumsi data bug

#hasil_scrape_ok.head()
hasil_scrape_ok.dropna(subset=['No']).to_csv('hasil_scrape_ok.csv')
files.download('hasil_scrape_ok.csv')

In [ ]:
#ngintip data yg sudah diolah
hasil_scrape_ok