<a href="https://colab.research.google.com/github/ekacs/scrap-inaportnet-22/blob/main2/webscrap_INAPORTNET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import os
import re
from six.moves import urllib
from unicodedata import normalize
import numpy as np
import io
import datetime
from datetime import datetime, timedelta
from dateutil.tz import tzutc, tzlocal
from google.colab import files

In [2]:
kode_lokasi='IDBTM'     #diisi kode lokasi pelabuhan, cari tahu di https://bit.ly/KODE_PELABUHAN 
tahun=2022              #diisi tahun
jenis_layanan='SPB'    #diisi kode layanan inaportnet yg mau discrape,
berapa_bulan=9          #diisi berapa bulan
selisih_waktu_UTC=0     # diisi waktu selisih perbedaan dg waktu UTC

#all code in here

In [4]:

daftarbulan=['00','01','02','03','04','05','06','07','08','09','10','11','12']
urls=[]
daftarlink=[]   


for i in range(1,berapa_bulan+1):
  
  #FYI gaes syntax format URL = https://monitoring-inaportnet.dephub.go.id/site/port_detail_service?unlocode=<kode_lokasi>&bulan=<angka_bulan_2digit>&tahun=<angka_tahun_4digit>&service_code=<kode_layanan>
  urlpage = ('https://monitoring-inaportnet.dephub.go.id/site/port_detail_service?unlocode={kd_lokasi}&bulan={n}&tahun=2022&service_code={jns_produk}').format(kd_lokasi=kode_lokasi, n=(daftarbulan[i]), jns_produk=jenis_layanan)
  urls.append(urlpage)


for url in urls:
    my_url = requests.get(url) 
  
    soup = bs(my_url.content, 'html.parser')
    #print(soup)
    s = soup('a', class_='btn btn-primary ls-modal')
    #print(s)
    for link in soup.find_all('a', attrs={'href': re.compile("kode_perusahaan=")}):
      daftarlink.append('https://monitoring-inaportnet.dephub.go.id'+link.get('href')+'&download=1')
      #daftarlink.append(link.get('href'))
      #print(daftarlink)

#len(daftarlink)
#print(urls)
#print(urlpage)


hasil_scrape = pd.DataFrame(pd.read_csv(daftarlink[0]))

for i in range(0,len(daftarlink)):
  data = pd.read_html(daftarlink[i])
  df = pd.DataFrame(data[0])

  hasil_scrape = pd.concat([hasil_scrape,df],axis=0)



#hasil_scrape
#hasil_scrape.dropna(subset=["No"])


#PERHITUNGAN SELISIH WAKTU

df=hasil_scrape
df['Waktu Permohonan'] = pd.to_datetime(df['Waktu Permohonan'])
df['Waktu Respon'] = pd.to_datetime(df['Waktu Respon'])

df['waktu_permohonan_real'] = df['Waktu Permohonan']+pd.DateOffset(hours=selisih_waktu_UTC) 
df['selisih_waktu'] = df['Waktu Respon']-df['waktu_permohonan_real']
#hasil_scrape.info()



#cari data anomali Waktu Respon lebih dulu ketimbang Waktu Permohonan (asumsi ada bug di database inaportnet)

hasil_scrape_bug=hasil_scrape[hasil_scrape['selisih_waktu']<timedelta(seconds=0)]
hasil_scrape_ok=hasil_scrape[hasil_scrape['selisih_waktu']>timedelta(seconds=0)]



#make criteria in time difference
def sel(hasil_scrape):
    if hasil_scrape['selisih_waktu'] < timedelta(seconds=31):
        return "Kurang dari 30 detik"
    elif hasil_scrape['selisih_waktu'] < timedelta(minutes=30):
        return "Antara 30 detik - 30 menit"
    elif hasil_scrape['selisih_waktu'] < timedelta(hours=1):
        return "Antara 30 - 60 menit"
    elif hasil_scrape['selisih_waktu'] < timedelta(hours=6):
        return "Antara 1 - 6 jam"
    elif hasil_scrape['selisih_waktu'] < timedelta(hours=12):
        return "Antara 6 - 12 jam"
    elif hasil_scrape['selisih_waktu'] < timedelta(days=1):
        return "Antara 12 - 24 jam"
    else:
        return "Lebih dari 24 jam"

hasil_scrape_ok['lama_pelayanan'] = hasil_scrape_ok.apply(sel, axis=1)
sort_data = hasil_scrape_ok.sort_values("selisih_waktu", axis = 0, ascending = True)



lama_pelayanan = hasil_scrape_ok.groupby('lama_pelayanan')['lama_pelayanan'].count().reset_index(name='jumlah')
lama_pelayanan['persentase'] = lama_pelayanan['jumlah']/len(hasil_scrape_ok)*100
#lama_pelayanan


#gruoping month-day pelayanan

month_mapping={
    1: 'January', 
    2: 'February', 
    3: 'March', 
    4: 'April', 
    5: 'May',
    6: 'June', 
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
} 
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 


hasil_scrape_ok['bulan permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.month.map(month_mapping)
hasil_scrape_ok['hari permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.dayofweek.map(dw_mapping)

bulan_permohonan = hasil_scrape_ok.groupby('bulan permohonan')['bulan permohonan'].count().reset_index(name='jumlah')
bulan_permohonan['persentase'] = bulan_permohonan['jumlah']/len(hasil_scrape_ok)*100

def nomor(bulan_permohonan):
    if bulan_permohonan['bulan permohonan'] == 'January':
        return 1
    elif bulan_permohonan['bulan permohonan'] == 'February':
        return 2
    elif bulan_permohonan['bulan permohonan'] == 'March':
        return 3
    elif bulan_permohonan['bulan permohonan'] == 'April':
        return 4
    elif bulan_permohonan['bulan permohonan'] == 'May':
        return 5
    elif bulan_permohonan['bulan permohonan'] == 'June':
        return 6
    elif bulan_permohonan['bulan permohonan'] == 'July':
        return 7
    elif bulan_permohonan['bulan permohonan'] == 'August':
        return 8
    elif bulan_permohonan['bulan permohonan'] == 'September':
        return 9
    elif bulan_permohonan['bulan permohonan'] == 'October':
        return 10
    elif bulan_permohonan['bulan permohonan'] == 'November':
        return 11
    else:
        return 12

bulan_permohonan['nomor'] = bulan_permohonan.apply(nomor, axis=1)
bulan_permohonan = bulan_permohonan.sort_values("nomor", axis = 0, ascending = True)
#bulan_permohonan

#stat hari permohnonan

def nomor_hari(hari_permohonan):
    if hari_permohonan['hari permohonan'] == 'Monday':
        return 1
    elif hari_permohonan['hari permohonan'] == 'Tuesday':
        return 2
    elif hari_permohonan['hari permohonan'] == 'Wednesday':
        return 3
    elif hari_permohonan['hari permohonan'] == 'Thursday':
        return 4
    elif hari_permohonan['hari permohonan'] == 'Saturday':
        return 5
    elif hari_permohonan['hari permohonan'] == 'Sunday':
        return 6
    else:
        return 7
    
hari_permohonan = hasil_scrape_ok.groupby('hari permohonan')['hari permohonan'].count().reset_index(name='jumlah')
hari_permohonan['Nomor'] = hari_permohonan.apply(nomor_hari, axis=1)
hari_permohonan = hari_permohonan.sort_values("Nomor", axis = 0, ascending = True)
#hari_permohonan


#pemabgian rentang waktu permohonan
batas_waktu1 = pd.to_datetime('06:00:00', format='%H:%M:%S')
batas_waktu2 = pd.to_datetime('12:00:00', format='%H:%M:%S')
batas_waktu3 = pd.to_datetime('18:00:00', format='%H:%M:%S')

def jam(hasil_scrape_ok):
    if hasil_scrape_ok['jam permohonan'] < batas_waktu1:
        return "Jam 00.00 s.d. 06.00"
    elif hasil_scrape_ok['jam permohonan'] < batas_waktu2:
        return "Jam 06.00 s.d. 12.00"
    elif hasil_scrape_ok['jam permohonan'] < batas_waktu3:
        return "Jam 12.00 s.d. 18.00"
    else:
        return "Jam 18.00 s.d. 24.00"

hasil_scrape_ok['jam permohonan'] = hasil_scrape_ok['waktu_permohonan_real'].dt.time
hasil_scrape_ok['jam permohonan'] = pd.to_datetime(hasil_scrape_ok['jam permohonan'], format='%H:%M:%S')
hasil_scrape_ok['pembagian jam permohonan'] = hasil_scrape_ok.apply(jam, axis=1)

waktu_permohonan = hasil_scrape_ok.groupby('pembagian jam permohonan')['pembagian jam permohonan'].count().reset_index(name='jumlah')
waktu_permohonan['persentase'] = waktu_permohonan['jumlah']/len(hasil_scrape_ok)*100
#waktu_permohonan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:192: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:193: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#data yg anomali (asumsi ada bug di dBasenya)

In [5]:
'''
hasil_scrape_bug.dropna(subset=['No']).to_csv('hasil_scrape_bug.csv')
files.download('hasil_scrape_bug.csv')
'''
hasil_scrape_bug.dropna(subset=['No'])

,"<table class=""table table-bordered"">",No,Nama Kapal,Waktu Permohonan,Waktu Respon,Nomor Produk,waktu_permohonan_real,selisih_waktu
0,NaN,1.0,INA TUNI,2022-12-01 09:21:10,2022-01-13 10:48:55,SPB.IDBTM.0122.0000141,2022-12-01 09:21:10,-322 days +01:27:45
0,NaN,1.0,K.P.M.P. 1206,2022-12-01 14:58:57,2022-01-13 10:53:53,SPB.IDBTM.0122.0000142,2022-12-01 14:58:57,-323 days +19:54:56
1,NaN,2.0,SOL 2307,2022-12-01 14:59:24,2022-01-13 16:14:14,SPB.IDBTM.0122.0000153,2022-12-01 14:59:24,-322 days +01:14:50
27,NaN,28.0,BENING V,2022-01-31 07:12:43,2022-01-02 13:18:36,SPB.IDBTM.0222.0000003,2022-01-31 07:12:43,-29 days +06:05:53
28,NaN,29.0,SAHABAT KAPUAS MANDIRI XXXIX,2022-01-31 07:15:11,2022-01-02 13:21:23,SPB.IDBTM.0222.0000004,2022-01-31 07:15:11,-29 days +06:06:12
0,NaN,1.0,CONTSHIP TEN,2022-12-01 16:12:37,2022-01-13 09:58:41,SPB.IDBTM.0122.0000138,2022-12-01 16:12:37,-323 days +17:46:04
3,NaN,4.0,EPIC WAJA,2022-01-31 07:24:51,2022-01-02 04:46:14,SPB.IDBTM.0122.0000444,2022-01-31 07:24:51,-30 days +21:21:23
9,NaN,10.0,MT. SILVER LIBRA,2022-02-28 17:33:10,2022-01-03 10:40:15,SPB.IDBTM.0322.0000001,2022-02-28 17:33:10,-57 days +17:07:05
11,NaN,12.0,MITRA KENCANA X,2022-12-02 07:09:54,2022-02-13 14:48:27,SPB.IDBTM.0222.0000196,2022-12-02 07:09:54,-292 days +07:38:33
12,NaN,13.0,SUMBER KENCANA V,2022-12-02 07:10:02,2022-02-13 14:48:44,SPB.IDBTM.0222.0000197,2022-12-02 07:10:02,-292 days +07:38:42
1,NaN,2.0,TANTO SEHAT,2022-12-02 07:21:40,2022-02-13 11:35:27,SPB.IDBTM.0222.0000194,2022-12-02 07:21:40,-292 days +04:13:47
4,NaN,5.0,CASTORO,2022-12-03 10:36:04,2022-03-13 13:33:29,SPB.IDBTM.0322.0000298,2022-12-03 10:36:04,-265 days +02:57:25
5,NaN,6.0,BUKIT MANDIRI,2022-12-03 10:42:50,2022-03-13 13:34:17,SPB.IDBTM.0322.0000299,2022-12-03 10:42:50,-265 days +02:51:27
12,NaN,13.0,BUKIT BERLIAN,2022-03-31 02:54:06,2022-01-04 18:02:03,SPB.IDBTM.0422.0000014,2022-03-31 02:54:06,-86 days +15:07:57
13,NaN,14.0,FALCON DELAPAN,2022-03-31 02:52:18,2022-01-04 18:01:33,SPB.IDBTM.0422.0000013,2022-03-31 02:52:18,-86 days +15:09:15
1,NaN,2.0,ALEXINDO 1,2022-12-03 10:15:28,2022-03-13 11:40:34,SPB.IDBTM.0322.0000295,2022-12-03 10:15:28,-265 days +01:25:06
3,NaN,4.0,INTAN 1809,2022-12-03 11:08:40,2022-03-13 15:54:26,SPB.IDBTM.0322.0000303,2022-12-03 11:08:40,-265 days +04:45:46
6,NaN,7.0,ASL ABADI 3,2022-12-03 11:08:25,2022-03-13 15:54:10,SPB.IDBTM.0322.0000302,2022-12-03 11:08:25,-265 days +04:45:45
2,NaN,3.0,MV. HALO,2022-04-30 05:51:28,2022-01-05 14:36:38,SPB.IDBTM.0522.0000002,2022-04-30 05:51:28,-115 days +08:45:10
1,NaN,2.0,GOLDEN COW - I,2022-12-04 11:39:08,2022-04-13 10:43:21,SPB.IDBTM.0422.0000274,2022-12-04 11:39:08,-236 days +23:04:13
0,NaN,1.0,KITEK 9,2022-12-04 10:55:40,2022-04-13 10:45:13,SPB.IDBTM.0422.0000275,2022-12-04 10:55:40,-236 days +23:49:33
3,NaN,4.0,SRIWIJAYA RAYA,2022-04-30 19:59:03,2022-01-05 17:00:26,SPB.IDBTM.0522.0000005,2022-04-30 19:59:03,-116 days +21:01:23
2,NaN,3.0,TALES,2022-12-05 02:57:18,2022-05-13 09:15:40,SPB.IDBTM.0522.0000198,2022-12-05 02:57:18,-206 days +06:18:22
3,NaN,4.0,INTAN PROSPER,2022-12-05 02:55:54,2022-05-13 09:16:00,SPB.IDBTM.0522.0000199,2022-12-05 02:55:54,-206 days +06:20:06
51,NaN,52.0,Dewi I,2022-05-31 08:27:14,2022-01-06 12:56:29,SPB.IDBTM.0622.0000003,2022-05-31 08:27:14,-145 days +04:29:15
52,NaN,53.0,DEWI II,2022-05-31 08:27:42,2022-01-06 12:58:34,SPB.IDBTM.0622.0000004,2022-05-31 08:27:42,-145 days +04:30:52
6,NaN,7.0,BBM 2000 3,2022-05-31 13:56:31,2022-01-06 12:55:51,SPB.IDBTM.0622.0000001,2022-05-31 13:56:31,-146 days +22:59:20
7,NaN,8.0,BBM 330 3,2022-05-31 14:00:03,2022-01-06 12:56:09,SPB.IDBTM.0622.0000002,2022-05-31 14:00:03,-146 days +22:56:06
0,NaN,1.0,BATAM INDAH-8,2022-05-31 17:41:40,2022-01-06 00:48:19,SPB.IDBTM.0522.0000677,2022-05-31 17:41:40,-146 days +07:06:39
1,NaN,2.0,STRAITS ENERGY,2022-12-06 13:37:38,2022-06-13 11:06:23,SPB.IDBTM.0622.0000370,2022-12-06 13:37:38,-177 days +21:28:45
3,NaN,4.0,BINTANG MULIA 2,2022-12-07 11:22:27,2022-07-13 10:26:57,SPB.IDBTM.0722.0000519,2022-12-07 11:22:27,-148 days +23:04:30
56,NaN,57.0,BPW 11,2022-07-29 10:04:33,2022-01-08 14:25:04,SPB.IDBTM.0822.0000006,2022-07-29 10:04:33,-202 days +04:20:31
57,NaN,58.0,PACIFIC SUN 2,2022-07-29 10:04:24,2022-01-08 14:25:27,SPB.IDBTM.0822.0000007,2022-07-29 10:04:24,-202 days +04:21:03
13,NaN,14.0,ASL TRANSPORTER 3,2022-12-07 14:25:33,2022-07-13 05:19:46,SPB.IDBTM.0722.0000518,2022-12-07 14:25:33,-148 days +14:54:13
5,NaN,6.0,PROFIT,2022-12-08 09:01:44,2022-08-13 14:09:59,SPB.IDBTM.0822.0000603,2022-12-08 09:01:44,-117 days +05:08:15
6,NaN,7.0,NUMBING SATU,2022-12-08 09:02:14,2022-08-13 14:10:31,SPB.IDBTM.0822.0000604,2022-12-08 09:02:14,-117 days +05:08:17
19,NaN,20.0,TALES,2022-08-31 07:04:18,2022-01-09 11:47:03,SPB.IDBTM.0922.0000005,2022-08-31 07:04:18,-234 days +04:42:45
20,NaN,21.0,INTAN PROSPER,2022-08-31 07:08:01,2022-01-09 11:47:33,SPB.IDBTM.0922.0000006,2022-08-31 07:08:01,-234 days +04:39:32
69,NaN,70.0,TB. CHG 11,2022-08-30 13:20:06,2022-01-09 17:32:40,SPB.IDBTM.0922.0000045,2022-08-30 13:20:06,-233 days +04:12:34
2,NaN,3.0,TB. SEA WIN III,2022-12-08 08:53:13,2022-08-13 14:22:14,SPB.IDBTM.0822.0000610,2022-12-08 08:53:13,-117 days +05:29:01
3,NaN,4.0,TK. COMFORT SHIPPING 2472,2022-12-08 08:54:06,2022-08-13 14:21:26,SPB.IDBTM.0822.0000609,2022-12-08 08:54:06,-117 days +05:27:20
12,NaN,13.0,BUANA OCEAN 08,2022-12-08 15:46:59,2022-08-13 14:17:49,SPB.IDBTM.0822.0000605,2022-12-08 15:46:59,-118 days +22:30:50
13,NaN,14.0,BUANA PACIFIC,2022-12-08 15:40:52,2022-08-13 14:00:31,SPB.IDBTM.0822.0000602,2022-12-08 15:40:52,-118 days +22:19:39
10,NaN,11.0,SPGM 1608,2022-08-31 12:18:38,2022-01-09 09:34:59,SPB.IDBTM.0922.0000002,2022-08-31 12:18:38,-235 days +21:16:21
11,NaN,12.0,MMSS 2708,2022-08-31 13:36:21,2022-01-09 09:34:37,SPB.IDBTM.0922.0000001,2022-08-31 13:36:21,-235 days +19:58:16
2,NaN,3.0,G.H. SAMUDRA,2022-12-09 08:25:36,2022-09-13 11:59:11,SPB.IDBTM.0922.0000570,2022-12-09 08:25:36,-87 days +03:33:35
0,NaN,1.0,CAPUTRA - 18,2022-12-09 23:57:59,2022-09-13 16:49:25,SPB.IDBTM.0922.0000601,2022-12-09 23:57:59,-88 days +16:51:26
2,NaN,3.0,MTS 56,2022-09-30 11:03:03,2022-01-10 12:26:09,SPB.IDBTM.1022.0000004,2022-09-30 11:03:03,-263 days +01:23:06
10,NaN,11.0,MILLENNIUM 802,2022-12-09 14:31:00,2022-09-13 12:35:36,SPB.IDBTM.0922.0000580,2022-12-09 14:31:00,-88 days +22:04:36
11,NaN,12.0,MMS 007,2022-12-09 14:32:13,2022-09-13 12:36:06,SPB.IDBTM.0922.0000581,2022-12-09 14:32:13,-88 days +22:03:53
0,NaN,1.0,ASEAN EXPLORER,2022-12-09 15:30:40,2022-09-13 08:07:17,SPB.IDBTM.0922.0000568,2022-12-09 15:30:40,-88 days +16:36:37
35,NaN,36.0,SABANG - 39,2022-12-09 09:47:56,2022-09-13 19:36:43,SPB.IDBTM.0922.0000617,2022-12-09 09:47:56,-87 days +09:48:47
36,NaN,37.0,BG SUMBER JAYA - 22,2022-12-09 09:52:34,2022-09-13 19:37:33,SPB.IDBTM.0922.0000619,2022-12-09 09:52:34,-87 days +09:44:59
102,NaN,103.0,MEGAMAS SWEET,2022-09-30 09:52:41,2022-01-10 18:28:49,SPB.IDBTM.1022.0000034,2022-09-30 09:52:41,-263 days +08:36:08
103,NaN,104.0,SAMUDRA BINTAN 88,2022-09-30 09:53:23,2022-01-10 18:29:17,SPB.IDBTM.1022.0000035,2022-09-30 09:53:23,-263 days +08:35:54
104,NaN,105.0,TB. Winstar Grace,2022-09-30 09:59:37,2022-02-10 21:27:05,SPB.IDBTM.1022.0000066,2022-09-30 09:59:37,-232 days +11:27:28
105,NaN,106.0,TK. Winstar 2320,2022-09-30 09:59:16,2022-02-10 21:26:46,SPB.IDBTM.1022.0000065,2022-09-30 09:59:16,-232 days +11:27:30
74,NaN,75.0,BUANA BETA,2022-09-30 07:00:00,2022-01-10 15:04:35,SPB.IDBTM.1022.0000023,2022-09-30 07:00:00,-263 days +08:04:35
61,NaN,62.0,TB BW LOYALTY,2022-09-30 08:26:16,2022-01-10 13:58:05,SPB.IDBTM.1022.0000012,2022-09-30 08:26:16,-263 days +05:31:49
62,NaN,63.0,BG. BAYSWATER 2318,2022-09-30 08:25:48,2022-01-10 13:58:12,SPB.IDBTM.1022.0000013,2022-09-30 08:25:48,-263 days +05:32:24

#statistik durasi lama pelayanan

In [6]:
lama_pelayanan

       lama_pelayanan  jumlah  persentase
0  Antara 12 - 24 jam    1458   17.012835
1   Antara 6 - 12 jam    6424   74.959160
2   Lebih dari 24 jam     688    8.028005

#statistik waktu pelayanan

In [7]:
waktu_permohonan

  pembagian jam permohonan  jumlah  persentase
0     Jam 00.00 s.d. 06.00    3096   36.126021
1     Jam 06.00 s.d. 12.00    4802   56.032672
2     Jam 12.00 s.d. 18.00     647    7.549592
3     Jam 18.00 s.d. 24.00      25    0.291715

#statistik hari pelayanan

In [8]:
hari_permohonan

  hari permohonan  jumlah  Nomor
1          Monday    1247      1
5         Tuesday    1340      2
6       Wednesday    1345      3
4        Thursday    1390      4
2        Saturday    1199      5
3          Sunday     770      6
0          Friday    1279      7

#statistik bulan pelayanan

In [9]:
bulan_permohonan

   bulan permohonan  jumlah  persentase  nomor
4           January     535    6.242707      1
3          February     531    6.196033      2
7             March     642    7.491249      3
0             April     732    8.541424      4
8               May     756    8.821470      5
6              June    1109   12.940490      6
5              July    1107   12.917153      7
1            August    1176   13.722287      8
11        September    1251   14.597433      9
10          October     225    2.625438     10
9          November     270    3.150525     11
2          December     236    2.753792     12

#unduh hasil scrape (aslinya)

In [10]:
#hasil scrape asli blm ada pengolahan data (termasuk didalamnya ada bug)
hasil_scrape.dropna(subset=['No']).to_csv('hasil_scrape_asli.csv')
files.download('hasil_scrape_asli.csv')

#unduh hasil scrape (+ kolom tambahan)

In [11]:
#hasil scrape berikut kolom lainnya

#hasil_scrape_ok.head()
hasil_scrape_ok.dropna(subset=['No']).to_csv('hasil_scrape_ok.csv')
files.download('hasil_scrape_ok.csv')

In [15]:
#ngintip data yg sudah diolah
hasil_scrape_ok

,"<table class=""table table-bordered"">",No,Nama Kapal,Waktu Permohonan,Waktu Respon,Nomor Produk,waktu_permohonan_real,selisih_waktu,lama_pelayanan,bulan permohonan,hari permohonan,jam permohonan,pembagian jam permohonan
0,NaN,1.0,PAHALA,2022-03-01 06:51:39,2022-03-01 15:52:51,SPB.IDBTM.0122.0000022,2022-03-01 06:51:39,0 days 09:01:12,Antara 6 - 12 jam,March,Tuesday,1900-01-01 06:51:39,Jam 06.00 s.d. 12.00
1,NaN,2.0,ORIENTAL PACIFIC,2022-09-01 12:44:53,2022-10-01 11:00:11,SPB.IDBTM.0122.0000099,2022-09-01 12:44:53,29 days 22:15:18,Lebih dari 24 jam,September,Thursday,1900-01-01 12:44:53,Jam 12.00 s.d. 18.00
2,NaN,3.0,ARMADA SEJATI,2022-11-01 07:43:15,2022-11-01 16:48:03,SPB.IDBTM.0122.0000124,2022-11-01 07:43:15,0 days 09:04:48,Antara 6 - 12 jam,November,Tuesday,1900-01-01 07:43:15,Jam 06.00 s.d. 12.00
3,NaN,4.0,ARMADA SERASI,2022-01-13 00:57:02,2022-01-13 14:46:20,SPB.IDBTM.0122.0000146,2022-01-13 00:57:02,0 days 13:49:18,Antara 12 - 24 jam,January,Thursday,1900-01-01 00:57:02,Jam 00.00 s.d. 06.00
4,NaN,5.0,SPIL RETNO,2022-01-13 12:07:29,2022-01-14 16:18:52,SPB.IDBTM.0122.0000171,2022-01-13 12:07:29,1 days 04:11:23,Lebih dari 24 jam,January,Thursday,1900-01-01 12:07:29,Jam 12.00 s.d. 18.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,NaN,29.0,PENGUIN INDORAYA - II,2022-09-29 08:18:25,2022-09-29 21:43:03,SPB.IDBTM.0922.0001493,2022-09-29 08:18:25,0 days 13:24:38,Antara 12 - 24 jam,September,Thursday,1900-01-01 08:18:25,Jam 06.00 s.d. 12.00
29,NaN,30.0,ATAKA - II,2022-09-29 09:39:24,2022-09-29 22:06:34,SPB.IDBTM.0922.0001504,2022-09-29 09:39:24,0 days 12:27:10,Antara 12 - 24 jam,September,Thursday,1900-01-01 09:39:24,Jam 06.00 s.d. 12.00
30,NaN,31.0,PENGUIN INDORAYA - II,2022-09-30 09:07:36,2022-09-30 20:46:19,SPB.IDBTM.0922.0001556,2022-09-30 09:07:36,0 days 11:38:43,Antara 6 - 12 jam,September,Friday,1900-01-01 09:07:36,Jam 06.00 s.d. 12.00
0,NaN,1.0,BAHARI - 24,2022-09-21 07:30:58,2022-09-21 17:22:12,SPB.IDBTM.0922.0001016,2022-09-21 07:30:58,0 days 09:51:14,Antara 6 - 12 jam,September,Wednesday,1900-01-01 07:30:58,Jam 06.00 s.d. 12.00
0,NaN,1.0,MV. MOS OCEAN,2022-09-17 07:38:23,2022-09-17 16:47:01,SPB.IDBTM.0922.0000833,2022-09-17 07:38:23,0 days 09:08:38,Antara 6 - 12 jam,September,Saturday,1900-01-01 07:38:23,Jam 06.00 s.d. 12.00